/* Signature Canvas styling */
#signatureCanvas {
    /* width: 100%; */
    max-width: 100%;
    height: auto;
    max-height: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    background-color: #f5f5f56f;
    /* max-width: 800px; */
    cursor: crosshair;
    /* Set the cursor to a crosshair */
}

/* Signature div styling */
.canvas-div {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

/* Body and container styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f8f8f8;
}

p {

    font-weight: 300;
    font-size: 17px;
}

.footer {
    opacity: .5;
    font-size: 12px;
}

.all-records {
    /* font-size: 14px; */
    text-decoration: none;
    font-weight: 600;
    color: #4285f4;
    font-size: 14px;
    /* color: #2ce65a; */
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.container {
    max-width: 600px;
    margin: 30px auto;
    background-color: #fff;
    padding: 30px;
    padding-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 14px rgba(0, 0, 0, 0.1);
}

#registration-form {
    padding-top: 15px;
}

/* Form styling */
form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: #4285f4;
    color: #fff;
    border: none;
    padding: 15px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-weight: 500;
    font-size: 17px;
    margin-top: 20px;
}

#clear-button {
    background-color: #a3aab6;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: 300;
    font-size: 14px;
    cursor: pointer;
}