<!DOCTYPE html>
<html>

<head>
    <title>الامضاءات المسجلة</title>
    <link rel="stylesheet" href="../static/css/pdf.css">
    <!-- <script src="{{ url_for('static', filename='/scripts/pdf.js') }}"></script> -->
    <script src="../static/scripts/pdf.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body class="contasiner">
    <div class="print-container">

        <a class="add-button" href="/">اضافة تسجيل جديد</a>
        {% if admin %}
        <button class="print-button" onclick="printPage()">طباعة</button>
        <button class="download-button" onclick="downloadPage()">تنزيل</button>
        {% endif %}
        <p class="footer">طور من طرف: يونس عماري</p>

    </div>
    <div class="container" id="print_view">

        <h1 class="title">الامضاءات المسجلة</h1>
        <p> العدد الاجمالي  {{ length }}</p>
        <div class="table-container">
            <table>
                <tr class="table-headers">
                    <th>الاسم الكامل</th>
                    <!-- <th>Phone</th> -->
                    <th>رقم الغرفة و الجناح</th>
                    <th>رقم بطاقة الطالب</th>
                    <th>الامضاء</th>
                </tr>
                {% for record in records %}
                <tr>
                    <td>{{ record['Full Name'] }}</td>
                    <!-- <td>{{ record['Phone'] }}</td> -->
                    <td>{{"تظهر فقط للمسؤول" if not admin else record['Room'] }}</td>
                    <td class="td-id-card">{{ record['Student Card ID'][0:4]+"-- -- -- " if not admin else record['Student Card ID'] }}
                    </td>
                    <td class="image-div"><img src="{{ record['Signature'] }}" width="130" height="50"></td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <p class="details">{{details}}</p>
        
    </div>


</body>
<!-- <script src="../static/js/pdf.js"></script> -->

</html>