<!DOCTYPE html>
<html>
<head>
    <title>تم التسجيل بنجاح</title>
    <link rel="stylesheet" href="../static/css/submitted.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body class="container">
    <!-- <img src="../assets/images/success.gif"/> -->
    <img class="success" src="{{ url_for('static',filename='assets/images/success.gif') }}"/>
    <h1>تم تسجيل امضاءك بنجاح</h1>
    <p>شكراً لوقتك</p>
    <!-- <a href="/" class="home-link">Return to Form</a> -->
    <a href="/records" class="home-link">مشاهدة جميع الامضاءات</a>
    <a href="/" class="add-other">اضافة تسجيل جديد</a>
</body>
</html>
